@font-face {
    font-family: "Roboto Mono";
    src: url('RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url('RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1,
h2 {
    margin: 1rem 0;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
}

p,
div {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    gap: 4rem;
    overflow-x: scroll;
    margin: 0 clamp(10px, 5%, 6rem);
}

section {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: clamp(300px, 70%, 900px);
}

.description {
    margin: 1rem 0;
    font-weight: 400;

    >p {
        color: hsl(0, 0%, 30%);

        @media (prefers-color-theme: dark) {
            color: hsl(0, 0%, 70%);
        }
    }
}

.grid-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.log {
    display: grid;
    grid-template-columns: 4fr 4rem 5fr;
    border: 1px solid #ddd;
    padding: 10px;

    >div {
        overflow-y: auto;
        overflow-wrap: break-word;
    }
}

.time {

    color: hsl(0, 0%, 30%);

    @media (prefers-color-theme: dark) {
        color: hsl(0, 0%, 70%);
    }
}

.error {
    color: #f48771
}

.warn {
    color: #dcdcaa
}

.info {
    color: #4ec9b0
}

.bitfield {
    border: 1px solid #ddd;
    padding: 10px;
}

.piece {
    height: 1px;
    background-color: #ddd;
}

.complete {
    background-color: green;
}
